#google-btn {
    /* padding: 1rem 3rem; */
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #4081EC;
}

#google-logo {
    width: 2rem;
    height: 2rem;
}

#google-btn span {
    background-color: #4081EC;
    /* height: 2rem;
    line-height: 2rem; */
    color: white;
    padding: 0.5rem;
}