:host {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    gap: 2rem;
    align-items: center;
}

#signout-btn {
    text-decoration: underline;
    cursor: pointer;
    min-width: max-content;
}

#profile-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

#profile-icon:hover {
    background-color: #F6F6F7;
}

#header-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

#header-profile-name {
    width: max-content;
}